<nav style="background-color: transparent; padding: 10px 0; display: flex; justify-content: space-between; align-items: center;">
  <div style="flex-grow: 1;">
    <h1 style="margin-left: 20px;">
      <span style="color: rgb(48, 96, 241);">G</span>
      <span style="color: lightgray;">-REC</span>
    </h1>
  </div>
  <div style="flex-grow: 2; text-align: center; display: flex; justify-content: center; align-items: center; gap: 20px; height: 40px; padding: 0;">
    <a href="/contacts" class="menu-link" style="text-decoration: none; font-size: 18px; line-height: 10px; border-radius: 5px;">About us</a>
    <a href="/reviews" class="menu-link" style="text-decoration: none; font-size: 18px; line-height: 10px; border-radius: 5px;">Reviews</a>
  </div>

  <div style="flex-grow: 1; text-align: right; margin-right: 20px;">
    <a href="/cart" class="menu-link" style="text-decoration: none; font-size: 18px; line-height: 10px; display: inline-block; border-radius: 5px;">Cart</a>
    <a href="/logout" class="menu-link" style="text-decoration: none; font-size: 18px; line-height: 10px; display: inline-block; margin-left: 20px; border-radius: 5px;">Logout</a>
  </div>

</nav>

<style>
  
  .menu-link:hover {
    background-color: rgb(48, 96, 241);
    color: black; /* Optional: to make the text readable on blue */
  }
</style>