<%- include('partials/header') %>

<body background="10875867.png" style="background-size: cover;">
  <div class="container" style="margin-top: 100px; padding-bottom: 20px; max-width: 1000px; margin-left: 40px; border-radius: 10px; opacity: 0.75; background-color: lightgray">
    <h1 class="display-3">G -REC</h1>
    <p class="lead">Your One-Stop Destination for Cutting-Edge Computer Components!</p>
    <hr>
    <style>
      .btn {
          background-color: white;
          cursor: pointer;
          transition: background-color 0.3s ease;
          height: 45px;
          width: 80px;
          text-align: center;
          border-radius: 7px;
      }

      /* Change button color on hover */
      .btn:hover {
          background-color: darkgray; /* New button color on hover */
      }
  </style>
  <a class="btn " href="/register" role="button">Register</a>
  <a class="btn " href="/login" role="button">Login</a>

  </div>

</body>
<%- include('partials/footer') %>